* {
    box-sizing: border-box;
}
.profile-picture{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
body{
    background-color: #3F3F3F;
}
.main--container{
    width: 250px;
    margin: 30px auto;
    text-align: center;
    background-color: #1A1919;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.subject-name,.subject-website,.title , p, .footer{
    color: #FBF2F2;
}
.subject-name{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 22px;   
}
.subject-title{
    font-size: 14px;
    font-weight: 200;
    color: peachpuff;
    margin-top: 5px;
    margin-bottom: 0;
}
.subject-website{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}
.title{
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
p{
    font-weight: 100;
    word-spacing: 1px;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 14px;
}
.button{
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
    justify-content: center;
    
}
.email-button{
    margin-right: 20px;
    width: 90px;
}
.linkedin-button{
    width: 90px;
}
.email-button, .linkedin-button{
    font-size: 14px;
    font-weight: 500;
}