.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}
.profile-picture{
  width: 245px;
  border-top-right-radius: 10px;
  border-top-left-radius: 8px;
  
}
body{
  background-color: #3F3F4F;
  
}
.main--container{
  width: 250px;
  margin: 30px auto;
  text-align: center;
  background-color: #1A1919;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid white;
  
}
.subject-name,.subject-website,.title , p, .footer{
  color: #FBF2F2;
}
.subject-name{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 22px;   
}
.subject-title{
  font-size: 14px;
  font-weight: 200;
  color: peachpuff;
  margin-top: 5px;
  margin-bottom: 0;
}
.subject-website{
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}
.title{
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p{
  font-weight: 100;
  word-spacing: 1px;
  text-align: left;
  margin-left: 10px;
  margin-right: auto;
  font-size: 14px;
}
.button{
  display: flex;
  justify-content: center;
  
}
.email-button, .linkedin-button{
  margin-right: 10px;
  margin-left: 10px;

  width: 90px;

}
.email-button > img, .linkedin-button > img{
  width: 10px;
}

.email-button, .linkedin-button{
  font-size: 14px;
  font-weight: 500;
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #FBF2F2 ;
}
span{
  width: 20px;
  background-color: #FBF2F2;
  margin: 0 auto;
  
}