.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



* {
  box-sizing: border-box;
}
.profile-picture{
  width: 100%;
  height: auto;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: white;
  margin: 0 auto; 
}
body{
  background-color: #3F3F4F;
  overflow-x: hidden;
}
.main--container{
  width: 250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  /* margin-top: 50px; */
  /* margin-top: 10%; */
  text-align: center;
  background-color: #1A1919;
  border-radius: 10px;
  border: 2px solid white;
  
}
.subject-name,.subject-website,.title , p, .footer{
  color: #FBF2F2;
}
.subject-name{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 22px;   
}
.subject-title{
  font-size: 14px;
  font-weight: 200;
  color: peachpuff;
  margin-top: 5px;
  margin-bottom: 0;
}
.subject-website{
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}
.title{
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p{
  font-weight: 100;
  word-spacing: 0.5px;
  text-align: left;
  margin-left: 10px;
  margin-right: auto;
  font-size: 13px;
  
}
/* .button{
  display: flex;
  justify-content: center;
  
} */
.email-button, .linkedin-button{
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  width: 40%;

}
.email-button > img, .linkedin-button > img{
  width: 10px;
}

.email-button, .linkedin-button{
  font-size: 14px;
  font-weight: 500;
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #FBF2F2 ;
  align-self: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
span{
  width: 20px;
  background-color: #FBF2F2;
  margin: 0 auto;
  margin-top: 5px;
  
}